// Carousel.scss

.CarouselProvider {
  display: flex;
  flex-flow: column;
  justify-content: center;

  width: 100%;
  height: 100vh;
  overflow: hidden;

  min-width: 300px;
  padding: 20%;
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)),
    url(https://picsum.photos/900);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  .Slide {
    vertical-align: "middle";
    display: flex;
    flex-flow: column;
    color: white;
    h2 {
      font-size: 3rem;
      margin-bottom: 5rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

  .dotGroup {
    position: absolute;
    bottom: 2rem;
    align-self: center;

    // display: flex;
    // place-content: center;
    button {
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
      margin: 4px;

      &:hover,
      &:active,
      &:disabled,
      &.active {
        opacity: 0.8;
        background: #46545a;
      }
    }
  }
}
