// ThreeCards.scss

.Grid {
  margin-top: 0 !important;
}

.Column {
  padding: 0 !important;
}

.ItemSub {
  font-size: 1.4rem;
}

.right {
  float: right;
}

.left {
  float: left;
}

.red {
  color: red;
}

.Borderless {
  box-shadow: none !important;
  div {
    border: none !important;
  }
}
