.TopMenu {
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
  padding: 2rem;
  width: 100%;
  margin: 0;

  padding-top: 0;
  margin-bottom: 2rem;

  display: flex;
  flex-flow: row;
  justify-content: space-between;

  .Navigation a {
    color: #383838;
    font-size: 1.2rem;
    &:not(:last-child):after {
      content: "|";
      margin: 1rem;
    }
    &:hover,
    &:active,
    &.active,
    &:focus {
      color: #4183c4;
    }
  }

  .UserPannel {
    i,
    a {
      padding: 0.5rem;
      color: #383838;
    }
  }
}
