.Input {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 0.6rem;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
}

.InputElement:focus {
  color: #383838;
  outline: 1px solid rgba(33, 133, 208);
  background-color: rgba(33, 133, 208, 0.2);
}

.Invalid {
  border: 1px solid red;
  background-color: #fda49a;
}
