//Appnavegation.scss

.AppNavigation {
  margin-top: 3rem;
}

.NaviContainer {
  a {
    border-bottom: 4px double rgba(0, 0, 0, 0);
  }
  .active,
  a:active,
  a:hover,
  a.active {
    font-weight: 900 !important;
    background: none !important;
    border-bottom: 4px double rgba(0, 0, 0, 0.2);
    color: #383838;
    transition: all 2s ease-out;
  }
}

@media (max-width: 679px) {
  .AppNavigation {
    margin-top: 6rem;
  }
}
