// App.scss

.StateControls {
  position: absolute;
  z-index: 200;
  top: 1rem;
  right: 2rem;

  background: #383838;
  width: auto;
  min-height: auto;
  padding: 1rem;
  opacity: 0.6;
  border: 4px;

  button {
    color: white;
    background: none;
    outline: none;
    border: none;
    font-size: 1rem;
  }
}
