.PictorialBar {
  .Label {
    position: absolute;
    top: 80%;
    width: 80%;
    margin: 0 10%;
    letter-spacing: -1px;
    span {
      font-size: 3rem;
      font-family: inherit;
      color: rgba(0, 0, 0, 0.5);
      small {
        font-size: 80%;
        opacity: 0.8;
      }
    }
  }
}
