// Hamburger.scss

$menu-color: #383838;
$default-color: #383838;
$box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.25);

/* it is for hamburger menu*/
.MenuHolder {
  width: auto;
  height: auto;
  background: rgba(0, 0, 0, 0) !important;
}

#nav-icon3 {
  width: 18px; //20px; //60px;
  height: 12px; //30px; //45px;
  position: relative;
  margin: auto auto; //50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px; //6px; //9px;
  width: 100%;
  background: $menu-color;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 6px; //12px; //18px;
}

#nav-icon3 span:nth-child(4) {
  top: 12px; //24px; //36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 6px; //12px; //18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 12px; //18px;
  width: 0%;
  left: 50%;
}

/* sidebar inner contetns */
.sidebarContents {
  margin: 20px;
}

/* sidebar text container */
.TextContainer {
  border: 1px solid #8ad1e4;
  background: rgba(138, 209, 228, 0.2);
  border-radius: 4px;
  padding: 30px 30px;
  margin: 20px;
  p {
    color: #383838;
  }
}

.AddShadow {
  box-shadow: $box-shadow;
}

.Form {
  margin: 20px;

  .CheckBoxArea {
    text-align: left;

    label {
      margin: 10px;
    }
  }
}
